
body {
    height: auto;
    width: 100%;
    background: url("../ov.png"), url("../back-ground.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    padding-top: 70px;
}

#text {
    padding: 10px;
}

#section1 {
    height: 100vh;
    width: 100%;
}

#section2 {
    height: 100%;
    width: 100%;
}


.banner .navbar-brand{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 10%;


}

.banner .nav {
    margin-right: 10%;
    position: fixed;
    right: 0;
    color: white;
}

.banner .navbar-nav li a{
    color: #b2c2bf;
    float: right;
    padding: 10px;

}

.banner .info {
    margin-top: 20%;
    transform: translateY(-20%);
    margin-left: auto;
    margin-right: auto;

}

.banner .info h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;
}


.banner .info p{
    font-size: 2em;
    font-weight: 500;
    color: #b2c2bf;
    letter-spacing: 2px;
}

.banner .info a{
    color: #ffffff;
    background: #f4a688;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}

.banner .info a:hover{
    background: #e0876a;
}

.index{
    background: dimgray;

}

.my-row .first {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 10px;
    padding: 10px;
}

.first > img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.my-row{
    color: white;
    align-content: center;
}

.my-container{
    border: 10px;
    height: 110vh;
    padding: 0 10%;
}


.centered .my-row{
  position: relative;

}

a:link {
  text-decoration: none;
    color: white;


}

a:visited {
    text-decoration: none;
    color: white;


}

a:hover {
  font-weight: bold;
    color: white;

}

a:active {
    text-decoration: none;
    color: white;

}


