
#basic{
    height: 100%;
    width: auto;
    background: url("../ov.png"), url("../top.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 3px;

}

#brownie{
    height: 100%;
    width: auto;
    background: url("../ov.png"), url("../brownie.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 3px;

}

.block{
    margin-top: 5%;
    transform: translateY(5%);
}

#text {
    padding: 10px;
}

#section1 {
    min-height: 100vh;
    width: 100%;
}

#section2 {
    padding-top: 5%;
    height: 100%;
    width: 100%;

}
#section4 {
    padding-top: 10%;
    height: 100%;
    width: 100%;

}

.banner .navbar-brand{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 10%;

}

.banner .nav {
    margin-right: 10%;
    position: absolute;
    right: 0;
    color: white;;

}
.navbar-custom {
    background-color: rgba(21, 18, 18, 0);
}

.banner .navbar-nav li a{
    color: #b2c2bf;
    float: right;
    padding: 10px;

}

@media screen and (max-width: 1200px) {
    .banner .info {
    margin-top: 300px !important;
}
}

.banner .info {
    margin-top: 25%;
    transform: translateY(-25%);
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 300px) {
    .banner .info-diets {
    margin-top: 300px; !important;
}
}

.banner .info-diets {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
}

.banner .info h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;

}

.banner .info-diets h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;
}


.banner .info p{
    font-size: 2em;
    font-weight: 400;
    color: #b2c2bf;
    letter-spacing: 2px;
}

.banner .info-diets p{
    font-size: 2em;
    font-weight: 500;
    color: #b2c2bf;
    letter-spacing: 2px;
}

.banner .info a{
    color: #ffffff;
    background-color: rgb(50, 50, 50);
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}

.banner .info-diets a{
    color: #ffffff;
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    border-color: rgb(100, 100, 100);
}

.banner .info a:hover{
    background: rgb(100, 100, 100);
}


.banner .info-diets a:hover {
    border-color: dodgerblue;
    border-width: 3px;
}

.banner .box{
    background-color: rgba(200, 200, 200, 0.1);
    border-color: white;
    border-radius: 5px;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;

}

.cal {
    padding: 15px;
}

.reg_log {
    padding: 15px;

}

.index{
    background: dimgray;

}

.banner .recipe-info {
    margin-top: 25%;
    transform: translateY(-25%);
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 978px) {
    .banner .recipe-info {
      margin-top: 300px;

    }
}

.banner .recipe-info a{
    color: #ffffff;
    margin-top: 5px;
    font-weight: bold;
    font-size: x-large;
}


.recipe-container{
    border-color: white;
    border-radius: 5px;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

.recipe-image .image-food{
    padding: 10px;
    margin: 10px;
    background-color: white;

}
#brownie{
    height: 80%;
    width: auto;

}

.quick-info{
    padding: 10px;
    padding-top: 20px;
}

.recipe-quick-info{
    padding: 20px;
    border-radius: 5px;
    border-style: ridge;
    border-width: 1px;
    border-color: white;
    margin-left: auto;
    margin-right: auto;

}

.quick-info ul{
    list-style: none;
    font-size: 22px;
    line-height: 300%;
}

.recipe-ingredients {
    margin: 50px;
    margin-top: 5%;


}
.recipe-ingredients ul{
    list-style: none;
    font-size: 20px;
    line-height: 300%;
    text-align: left;
}

@media (max-width: 978px) {
    .recipe-ingredients ul {
      margin-left: 30px;

    }
}

.recipe-preparation {
    margin-top: 5%;
    margin-right: 50px;
    border-left:1em solid transparent;
    border-right:1em solid transparent;

}
.recipe-preparation ul{
    list-style: none;
    font-size: 18px;
    line-height: 300%;
    text-align: justify;
    margin-bottom: 10%;
}
@media (max-width: 978px) {
    .recipe-preparation {
      margin-left: 30px;
    }
}


.image-container{
    min-height: 300px;
    position: relative;
    background-size: cover;
    padding-top: 25%;
    margin: 20px;


}
.centered{
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
    opacity: revert;
    margin: 20px;
}


.image-container:hover{
    opacity: 0.7;
    padding-top: 18%;
}

.image-container .img-description{
    visibility: hidden;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.image-container:hover .img-description{
    visibility: visible;
}


.my-container{
    border: 10px;
    height: 100vh;
    padding: 0 10%;

}
.footer p{
    margin-bottom: 0;
}
#footer{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 200%;
    padding: 2%;
    padding-bottom: 3%;


}

.f-con{
    margin: 10px;
    padding-top: 5%;
}
.diet-days{
    padding: 0;

}

.list-group-item{
    background-color: rgb(16, 15, 15);
    text-align: center;
}

.list-group-item.active{
    background-color: #3c444cd9;
    border: none;
}
.list-group-item-action:hover{
    background-color: #3c444cd9;
    color: white;

}


a:link {
  text-decoration: none;
    color: white;

}

a:visited {
    text-decoration: none;
    color: white;


}

a:hover {
  font-weight: bold;
    color: white;
    text-shadow: 0 0 2px #0000FF;
}

a:active {
    text-decoration: none;
    color: white;

}
ul.flashes{
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.alert{
    padding: 0.75rem 0.75rem;
}



