{% extends 'layout1.html' %}

{% block head %}
    <Title>Muscles</Title>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
        </nav>
    </div>
    <h1>Please fill your data</h1>

    {{ user }}
{% endblock %}

{% block body %}
    <form>
        <select name="lift">
            <option value="deadlift">deadlift</option>
            <option value="squat">squat</option>
            <option value="bench press">bench press</option>
        </select>
    </form>
{% endblock %}