{% extends 'layout2.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form action="{{ url_for("bmi") }}" method="post" role="form">
                    <div class="container">
                        <div class="mb-3">
                           <label for="weight" class="form-label">Weight in kg</label>
                            <input type="text" class="form-control" name="weight">
                        </div>
                        <div class="mb-3">
                            <label for="height" class="form-label">Height</label>
                            <input type="text" class="form-control" name="height">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}