{% extends 'layout.html' %}

{% block head %}
    <div class = "container"
         <p>Takie kurwa zajebiste brownie</p>
    </div>


{% endblock %}

{% block body %}
<div class="container">
    <ul title="składniki">
        <p>składniki kurwa</p>
        <li>
            kako
        </li>
        <li>
            fasola
        </li>
        <li>
            masło
        </li>
        <li>
            olej
        </li>
    </ul>
    <ul title="wykonanie">
        <p>wykonanie kurwa</p>
        <li>
            zmieszaj wszystko w pizdy
        </li>
        <li>
            miksuj
        </li>
        <li>
            daj na blache
        </li>
        <li>
            piecz
        </li>
    </ul>

</div>
{% endblock %}