{% extends 'layout.html' %}

{% block head %}
    <div class = "container"
         <p>Here will be brownie recipe</p>
    </div>


{% endblock %}

{% block body %}
    <ul title="składniki">
        <p>Ingredients</p>
        <li>
            chocolate
        </li>
        <li>
            red beans
        </li>
        <li>
            butter
        </li>
        <li>
            honey
        </li>
    </ul>
    <ul title="wykonanie">
        <p>preparation</p>
        <li>
            put your ingredients into bowl and mix them all together - yes it is that simple
        </li>
        <li>
            put it in the owen and bake it for 1 hour at 200°C
        </li>
        <li>
            after some time check if the pie is ready with fork, if the pie is not sticking to fork it means it is ready
        </li>
        <li>
            ENJOY
        </li>
    </ul>

</div>
{% endblock %}