{% extends 'layout2.html' %}

{% block head %}
{% endblock %}


{% block body %}
     <div class="col-md-8 offset-md-2 text-center info-diets">
        <h1 class="class="diet-title"">Free 14 days diet plan for 1500 kcal</h1>
        </br>
        <div id="navigation">
            <span><a class="btn btn-md" href="#section4">LET'S START</a></span>
        </div>
    </div>

{% endblock %}

{% block section %}
    <div class="accordion" id="section4">
        <div class="accordion-item">
            <div class="accordion-item-header">
                What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                2What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    2PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                3What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                4What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                5What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                6What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                7What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                8What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                9What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                10What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                11What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                12What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                13What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                14What is web develompent?
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    PyCharm automatically suggests a predefined keymap based on your environment. Make sure that it
                    matches the OS you are using or select the one that matches shortcuts from another IDE or editor you
                    are used to (for example, Emacs ).
                </div>
            </div>
        </div>
    </div>

{% endblock %}