{% extends 'layout2.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="col-md-8 offset-md-2 info text-center">
        <h1 class="text-center">FIT WEB APP</h1>
        <p class="text-center">Start Your Fitness Adventure Now</p>
        <div id="navigation">
          <span><a class="btn btn-md" href="#section2">GET STARTED</a></span>
        </div>
    </div>
{% endblock %}

{% block section %}
    <div class="container" id="section2">

        <div class="gallery-container">
            <div class="image">
                <img src="../static/pull-up.jpg" alt="IMAGE">
            </div>
            <div class="text">Nature</div>
        </div>
        <div class="gallery-container">
            <div class="image">
                <img src="../static/brownie.jpg" alt="IMAGE">
            </div>
            <div class="text">Nature</div>
        </div>
        <div class="gallery-container">
            <div class="image">
                <img src="../static/measure.jpg" alt="IMAGE">
            </div>
            <div class="text">Nature</div>
        </div>
        <div class="gallery-container">
            <div class="image">
                <img src="../static/pull-up.jpg" alt="IMAGE">
            </div>
            <div class="text">Nature</div>
        </div>
        <div class="gallery-container">
            <div class="image">
                <img src="../static/pull-up.jpg" alt="IMAGE">
            </div>
            <div class="text">Nature</div>
        </div>
        <div class="gallery-container">
            <div class="image">
                <img src="../static/pull-up.jpg" alt="IMAGE">
            </div>
            <div class="text">Nature</div>
        </div>
        <div class="gallery-container">
            <div class="image">
                <img src="../static/pull-up.jpg" alt="IMAGE">
            </div>
            <div class="text">Nature</div>
        </div>
    </div>


{% endblock %}