{% extends 'layout2.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <p>{{ key }}</p>
    <div class="col-md-8 offset-md-2 info text-center">
        <h1 class="text-center">FIT WEB APP</h1>
        <p class="text-center">Start Your Fitness Adventure Now</p>
        <div id="navigation">
          <span><a class="btn btn-md" href="#section2">GET STARTED</a></span>
        </div>
    </div>
{% endblock %}

{% block section %}
    <div class="container-fluid my-container" id="section2">
        <div class="row my-row">
            <div class="col-sm rounded first">
                 <div class="image-container">
                    <img class="img-fluid" src="../static/pull-up.jpg" alt="IMAGE">
                </div>
                <div class="centered"><a href={{ url_for("register")}}>How strong is your body?</a></div>
            </div>
            <div class="col-sm rounded first">
                 <div class="image-container">
                    <img class="img-fluid" src="../static/strict-press.jpg" alt="IMAGE">
                </div>
                <div class="centered"><a href={{ url_for("basic")}}>You feel weak?</a></div>
            </div>
            <div class="col-sm rounded first">
                 <div class="image-container">
                    <img class="img-fluid" src="../static/measure.jpg" alt="IMAGE">
                </div>
                <div class="centered"><a href={{ url_for("bmi") }}>BMI</a></div>
            </div>
        </div>
        <div class="row my-row">
            <div class="col-sm rounded first">
                 <div class="image-container">
                    <img class="img-fluid" src="../static/brownie.jpg" alt="IMAGE">
                </div>
                <div class="centered"><a href={{ url_for("brownie")}}>Great recipe for fit brownie</a></div>
            </div>
            <div class="col-sm rounded first">
                <div class="image-container">
                    <img class="img-fluid" src="../static/weight.jpg" alt="IMAGE">
                </div>
                <div class="centered"><a href={{ url_for("diets")}}>Loose weight quickly</a></div>
            </div>
            <div class="col-sm rounded first">
                 <div class="image-container">
                    <img class="img-fluid" src="../static/squat1.jpg" alt="IMAGE">
                </div>
                <div class="centered"><a href={{ url_for("orm") }}>ORM</a></div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}