{% extends 'layout2.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="col-md-10 offset-md-2 info text-center">
        <h1 class="text-center">FIT WEB APP</h1>
        <p class="text-center">Start Your Fitness Adventure Now</p>
        <div id="navigation">
            <span><a class="btn btn-md" href="#section2">GET STARTED</a></span>
        </div>
    </div>
{% endblock %}

{% block section %}
    <div class="container-fluid my-container" id="section2">
        <div class="row my-row align-items-center justify-content-center">
            <div class="col-lg-6 col-12 first">
                <a href={{ url_for("register") }}>
                    <div class="image-container" style="background-image: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url('../static/pull-up.jpg')">
                        <div class="centered">Personalize your training</div>
                        <div class="img-description">Register now and improve your training</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-12 first">
                <a href={{ url_for("basic") }}>
                    <div class="image-container" style="background-image: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url('../static/biceps.jpg')">
                        <div class="centered">You feel weak?</div>
                        <div class="img-description">Find out what are the best universal exercises</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row my-row align-items-center justify-content-center">
            <div class="col-lg-6 col-12 first">
                <a href={{ url_for("bmi") }}>
                    <div class="image-container" style="background-image: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url('../static/measure.jpg')">
                        <div class="centered">What is your BMI?</div>
                        <div class="img-description">Quickly calculate your body mass index</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 first">
                <a href={{ url_for("brownie") }}>
                    <div class="image-container" style="background-image: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url('../static/brownie.jpg')">
                        <div class="centered">Perfect chocolate brownie</div>
                        <div class="img-description">Quick and easy recipe only 160kcal per piece</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row my-row align-items-center justify-content-center">
            <div class="col-lg-6 first">
                <a href={{ url_for("diets") }}>
                    <div class="image-container" style="background-image: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url('../static/weight.jpg')">
                        <div class="centered">Loose weight quickly</div>
                        <div class="img-description">Calculate your calorie intake and get diet plan</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 first">
                <a href={{ url_for("orm") }}>
                    <div class="image-container" style="background-image: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url('../static/squat1.jpg')">
                        <div class="centered">One rep max calculator</div>
                        <div class="img-description">Find out what is your one rep max</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>

{% endblock %}