<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
        <title>Muscle</title>
        <link rel="shortcut icon" href="../static/favicon.ico">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes style="list-style-type: none">
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="nav nav-pills pull-right">
                    {% if not home %}
                        <li role="presentation" class="nav-item active"><a class="nav-link" href={{ url_for("main") }}>Home</a></li>
                    {% endif %}
                    {% if user  %}
                        <li role="presentation" class="nav-item active"><a class="nav-link" href={{ url_for("auth.user") }}>Your profile</a></li>
                        <li role="presentation" class="nav-item active"><a class="nav-link" href={{ url_for("auth.log_out") }}>Logout</a></li>
                    {% elif user == None %}
                        <li role="presentation" class="nav-item active"><a class="nav-link" href= {{ url_for("register")}}>Register</a></li>
                        <li role="presentation" class="nav-item active"><a class="nav-link" href={{ url_for("log_in") }}>Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>