{% extends 'layout.html' %}

{% block head %}
<div class="container">
        <div class="header">
            <div class="container">
                <img src="../static/top.jpg" alt="Gym" type="image" align="center" style="height: 500px; width: 1162px;">

                <h2 class="text-muted">Your ORM</h2>

                <h3>{{ orm }}</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="header">
        <div class="container">

            <footer class="footer">
                <p>&copy; Joanna Sałek</p>
            </footer>
        </div>
    </div>

{% endblock %}