{% extends 'layout.html' %}

{% block head %}
<div class="container">
        <div class="header">
            <div class="container">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class ="active"><a href= {{ url_for("go_to_register")}}>Register</a>
                        </li>
                        <li role="presentation" class ="active"><a href={{ url_for("go_to_log_in") }}>Login</a>
                        </li>
                        <li role="presentation" class ="active"><a href={{ url_for("main") }}>Home</a>
                        </li>
                    </ul>
                </nav>
                <img src="../static/top.jpg" alt="Gym" type="image" align="center" style="height: 500px; width: 1162px;">

                <h2 class="text-muted">Your ORM</h2>

                <h3>{{ orm }}</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="header">
        <div class="container">

            <footer class="footer">
                <p>&copy; Joanna Sałek</p>
            </footer>
        </div>
    </div>

{% endblock %}