{% extends 'layout2.html' %}

{% block head %}
    <Title>Muscles</Title>
    <h1>Please enter your data</h1>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 box reg_log">
                <form action="{{ url_for("register") }}" method="post" role="form">
                    <div class="container" style="text-align: left">
                        <h2 class="text-center font-weight-bold" style="margin-bottom: 3%">Create an account</h2>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class=flashes style="list-style-type: none">
                                    {% for category, message in messages %}
                                        <li class="alert alert-{{ category }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="f_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" name='f_name'>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="l_name" class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="l_name">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="e-mail" class="form-label">Email Address</label>
                            <input type="email" class="form-control" name="e-mail">
                        </div>
                        <div class="mb-3">
                            <label for="psw" class="form-label">Password</label>
                            <input type="password" class="form-control" name="psw">
                        </div>
                        <div class="mb-3">
                            <label for="c_psw" class="form-label">Connfirm Password</label>
                            <input type="password" class="form-control" name="c_psw">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary my-2 col-12">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
