{% extends 'layout2.html' %}

{% block head %}
    <Title>Muscles</Title>
    <h1>Please enter your data</h1>
{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-4 first">
                <form action="{{ url_for("register") }}" method="post" role="form">
                    <div class="container rounded p-3 my-5 first">
                        <h2 class="text-center font-weight-bold my-3">Create an account</h2>
                        <div class="mb-3">
                            <label for="e-mail" class="form-label">Email Address</label>
                            <input type="email" class="form-control" name="e-mail">
                        </div>
                        <div class="mb-3">
                            <label for="psw" class="form-label">Password</label>
                            <input type="password" class="form-control" name="psw">
                        </div>
                        <div class="mb-3">
                            <label for="c_psw" class="form-label">Connfirm Password</label>
                            <input type="password" class="form-control" name="c_psw">
                        </div>
                        <div class="mb-3">
                            <label for="f_name" class="form-label">First Name</label>
                            <input type="text" class="form-control" name='f_name'>
                        </div>
                        <div class="mb-3">
                            <label for="l_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="l_name">
                        </div>
                        <div class="mb-3">
                            <label for="b_day" class="form-label">Birthday</label>
                            <input type="date" class="form-control" name="b_day">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary my-2 col-12">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
